:root {
  --primary: #35a7ff;
  --primary-hover: #309ef2;
  --secondary: #ffe74c;
  --secondary-hover: #edd745;
  --danger: #ff5964;
  --danger-hover: #e8515b;
  --success: #27cd99;
  --success-hover: #24bf8f;
  --warning: #ffc15e;
  --warning-hover: #e3ab52;
  --background: #ffffff;
  --backkground-hover: #f0f0f0;
  --disabled: #e6efe9;
  --text-black: #0b141e;
  --text-white: #fff;
  --text-disabled: #303030;
  /* Animations */
  --slide-y-in-from: 50px;
  --slide-y-in-to: -10px;
  --slide-y-out-from: -10px;
  --slide-y-out-to: -100px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
