:root {
  --primary: #35a7ff;
  --primary-hover: #309ef2;
  --secondary: #ffe74c;
  --secondary-hover: #edd745;
  --danger: #ff5964;
  --danger-hover: #e8515b;
  --success: #27cd99;
  --success-hover: #24bf8f;
  --warning: #ffc15e;
  --warning-hover: #e3ab52;
  --background: #ffffff;
  --backkground-hover: #f0f0f0;
  --disabled: #e6efe9;
  --text-black: #0b141e;
  --text-white: #fff;
  --text-disabled: #303030;
  /* Animations */
  /* Slide */
  --slide-y-in-from: translateY(20px);
  --slide-y-in-to: translateY(0px);
  --slide-y-out-from: translateY(0px);
  --slide-y-out-to: translateY(20px);
  /* Expand */
  --expand-y-in-from: scaleY(0);
  --expand-y-in-to: scaleY(1);
  --expand-y-out-from: scaleY(1);
  --expand-y-out-to: scaleY(0);
  /* Expand -x axis */
  --expand-x-in-from: translateX(20px);
  --expand-x-in-to: translateX(0);
  --expand-x-out-from: translateX(0);
  --expand-x-out-to: translateX(20px);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
